node_modules

# ENV
.env
.env.local
.env.pro
.env.dev

# Files
coverage
dist

# IDE
.idea
.vscode

# extras
/src/generated/prisma

/generated/prisma
docker-compose-mongo.yml


# Seed data
seed.json
prisma/seed.ts
src/scripts